<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/super-admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Events Moderation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Manage Events</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="medium">
          <p>Event moderation coming soon...</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
